.menu{
    
}
    .imgMenu{
        width: 150px;
        height: 150px;
    }
    .centro a{
        letter-spacing: 1px;
        text-decoration: none;
        color: black;
    }
    .centro a:hover{
        color:purple;
    }

.carouselImg{

}
.imgCar{
        height: 500px;    
}
*
{
    font-family: 'Raleway', sans-serif;
}
.pie{
    color:purple;
}
.pie a
{
    text-decoration: none;
   color: rgb(255, 255, 255);

}
.pie a:hover
{
    color: #f4eeb1;
}
.pie img
{
    width: 300px;
}

.pie
{
    background-color: black;
}