*
{
    font-family: 'Raleway', sans-serif;
}
.colorTexto{
    color:#ff0084;
}
.menu{
    background-color: #F5F5F5;
}
    .imgMenu{
        width: 150px;
        height: 150px;
    }
    .enl{
        letter-spacing: 1px;
        text-decoration: none;
        color: black;
    }
        .enl:hover{
            color:#ff0084;
        }

    .imgCar{
            height: 500px;    
    }

.titulo1{
    font-size:34px
}    

    .botonMio{
        background-color: #141414;
        color:white;
        text-decoration: none;
    }
.bodyVerMas{
        background-color: black;

}
.page-item a{
    background-color: black;
    color:#FFFF;
}

.pie{
    background-color: black;
    color:#ff0084;
}
    .pie a
    {
        text-decoration: none;
    color: rgb(255, 255, 255);

    }
    .pie a:hover
    {
        color: #ff0084;
    }
    .pie img
    {
        width: 300px;
    }

    .verMas aside
    {
        color: black;
        font-size: 60px;
    }

/* .carta
{
    width: 180px;
} */
.centro 
{
    justify-content: center
}
.navbar-toggler{
    background-color:black;
}
@media (max-width: 1000px) {
    .botonMio {
        display: flex;
        flex-direction:column;
        /* width: 40px;
        height: 40px; */
    }
}
